<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
<bean class="com.Employee" name="employee">
<property name="empName" value="Jack"/>
</bean>
 <bean class="com.Company" name="company">
<property name="companyName" value="TCS"/>
<property name="employee" ref="employee"/>
</bean>
</beans>